@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --primary-color:#4D2C5E;
  --light-color:#ffffff;
  --black-color:#000000;
  --secondary-color:#FF7426;
  --bg-color:#FDF8EE;
  --text-color-tree:#8A8A8A;
  --text-comments:#ACACAC;
  --text-people:#353535
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.bg-banner{
  top: 0;
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  
  background:url(/images/bg-header.svg),var(--bg-color);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  width: 100%;
  height: 100px;
}

.logo-page {
  width: 200px;
  display: flex;
  align-items: center;
}

.logo-page > img{
  width: 40px;
  margin-right: 10px;
}

.header-nav > div:last-child{
  display: flex;
  width: 70%;
  justify-content: flex-end;
  align-items: center;
}

.header-nav > div:last-child a{
  text-decoration: none;
  margin-right: 40px;
  color: var(--black-color);
}

.title{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}


.title h2{
  font-size: 2em;
}

.title p{
  color: var(--text-color-tree);
  margin-top: 10px;
  font-size: 1em;
}
.btn{
  border: none;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 1em;
}

.btn-primary{
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn-secondary{
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.banner{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 50px 70px;
}

.group-input{
  background-color: var(--light-color);
  width: 400px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
}

.group-input input{
  border: none;
  height: 30px;
}

.banner > div:last-child > img{
    width: 100%;
}

.banner > div:first-child > h1{
  margin-top: 30px;
  font-size: 4.5em;
  font-weight: 900;
}

.banner > div:first-child > h1:nth-child(2){
  margin-top: 0 !important;
}

.banner > div:first-child > h1 > span{
  color: var(--secondary-color);
} 

.banner > div:first-child >p{
  color: var(--text-color-tree);
  font-size: 1.4em;
  margin-bottom: 50px;
}

#services{
  background-color: var(--primary-color);
  height: 200px;
  margin: 0px 100px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}

.item-service{
   display: flex;
   width: 30%;
   justify-content: space-between;
   align-items: center;
   margin: 0 30px;
}


.item-service > div:first-child{
  background-color: rgba(255, 255, 255,0.2);
  height: 80px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.item-service > div > img{
  width: 50px;
}

.item-service > div:last-child{
  width: 100%;
  height: 90px;
  padding: 0px 15px;
}

.item-service > div > h3,.item-service > div > p{
  color: var(--light-color);
}

.item-service > div > h3{
  font-size: 1.25em;
  font-weight: 900;
}

.item-service > div > p{
  margin-top: 15px;
  font-size: 0.9em;
  font-weight: 400;
  color: rgba(255, 255, 255,0.6);
}

#commints{
   height: 300px;
   margin: 0px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.item-comment{
  background-color: var(--light-color);
  width: 30%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 7px 14px 7px rgb(159 159 159 / 0.48);
  margin: 0px 20px;
}

.item-comment > div{
  display: flex;
  margin-top: 30px;
  height: 50px;
}


.item-comment > div > img{
  border-radius: 50%;
  width: 50px;
  margin-right: 15px;
}

.item-comment > div > div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.item-comment > div > div > h4{
  margin-bottom: 5px;
  color: var(--text-people);
}

.item-comment  p{
  color: var(--text-comments);
  font-weight: 500;
}


.item-comment > div > div > p{
  font-weight: 400;
}
#tracks{
  display: flex;
  justify-content: space-around;
  padding: 50px 70px;
}

.item-track{
  width: 30%;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 7px 14px 7px rgb(159 159 159 / 0.48);

}

.item-track > img{
  width: 100%;
  border-radius: 15px;
}

.detail-track > div > p >span:last-child{
  display: flex;
  justify-content: space-between;
}
.detail-track > div > p{
  display: flex;
  justify-content: space-between;
  color: var(--text-comments);
}

.detail-track > div > h3:last-child{
  color: var(--secondary-color);
  font-weight: 800;
}

.detail-track > div:first-child{
  border-bottom: 2px dotted var(--text-color-tree);
}

.detail-track > div{
  padding: 10px 0;
}

.item-track > div:last-child{
  position: absolute;
  bottom: -20px;
  width: 95%;
  display: flex;
  justify-content: center;
}

.icon-star-1{
  display: block;
  background: url(/images/icon-star-1.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.icon-star-0{
  display: block;
  background: url(/images/icon-star-0.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

footer{
  background: var(--bg-color);
}

footer > div:first-child{
  display: grid;
  grid-template-columns: 25% 15% 15% 15% 15%;
  padding: 20px 70px 0 70px;
  justify-content: space-around;
}

footer > div:first-child > div{
   padding: 20px 10px;
}

footer > div:first-child ul{
  list-style: none;
}

footer > div:first-child ul li{
  margin: 20px 0px;
}

footer > div:first-child ul li a{
  text-decoration: none;
  color: var(--text-color-tree);
}

footer > div:first-child > div:first-child p{
   color: var(--text-color-tree);
   padding-top: 20px;
   font-size: 1.1em;
   line-height: 1.7;
}

footer > div:last-child{
  border-top: 2px solid var(--text-color-tree);
  text-align: center;
  padding: 20px 0px;
  color: var(--text-color-tree);
  font-weight: 900;
}